[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boltons = "*"
editdistance = "*"
flask = "*"
h5py = "*"
ipdb = "*"
numpy = "*"
opencv-python-headless = "*"
requests = "*"
tensorflow = "==2.2.0rc2"
toml = "*"
tqdm = "*"

[dev-packages]
bandit = "*"
gpustat = "*"
gradescope-utils = "*"
grequests = "*" # admin
itermplot = "*"
jupyterlab = "*"
matplotlib = "*"
mypy = "*"
nltk = "*"
pycodestyle = "*"
pytest = "*"
pyyaml = "*"
redlock-py = "*"
scipy = "*"
tornado = "==5.1.1"  # TODO (2019-03-02) version 6.0 makes jupyter notebooks unusable
wandb = "*"
pylint = "*"

[requires]
python_version = "3.7"
